.button {
  width: 328px;
  min-height: 98px;
  border: none;
  background: linear-gradient(180deg, #ff7dc3 0%, #d52a86 100%);
  border-radius: 60px;
  box-shadow: 0 6px 0 #961259;
  color: white;
  font-size: 25px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;

  &:hover,
  &:focus {
    background: #d52a86;
    outline: none;
  }

  &:active {
    position: relative;
    top: 6px;
    box-shadow: none;
    outline: none;
  }

  @media (max-width: 575px) {
    font-size: 21px;
  }

  &_line-form {
    width: 23%;

    @media (max-width: 1500px) {
      width: 25%;
    }

    @media (max-width: 1200px) {
      @include max-width(500px);

      margin-bottom: 20px;
    }
  }

  &_modal-form {
    @include max-width(448px);
  }

  &_steps {
    display: block;
    margin-right: auto;
    margin-left: auto;

    @include max-width(448px);
  }

  &_present {
    display: none;
    margin-left: auto;
    margin-right: auto;
    @include max-width(328px);
    margin-bottom: 20px;
    @media (max-width: 575px) {
      display: block;
    }
  }

  &::after {
    content: '';
    margin-left: 60px;
    width: 25px;
    height: 300px;
    background: -webkit-gradient(
      linear,
      left bottom,
      left top,
      from(#fff),
      to(hsla(0, 0%, 100%, 0.01))
    );
    background: linear-gradient(0deg, #fff, hsla(0, 0%, 100%, 0.01));
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
    position: absolute;
    left: -90px;
    top: -150px;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 0;
  }

  @-webkit-keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }

  @keyframes slideme {
    0% {
      left: -30px;
      margin-left: 0;
    }

    30%,
    to {
      left: 110%;
      margin-left: 80px;
    }
  }
}
