.calc {
  position: relative;
  padding-top: 67px;
  padding-bottom: 64px;

  @media (max-width: 575px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.calc__img {
  position: absolute;
  z-index: -1;
  top: -70px;
  left: -240px;
}

.calc__title {
  @include title;

  margin-bottom: 23px;
  color: #105e3b;

  @include max-width(860px);

  span {
    color: #95c23f;
  }

  @media (max-width: 767px) {
    font-size: 39px;
  }

  @media (max-width: 575px) {
    font-size: 26px;
    line-height: 46px;
  }
}

.calc__text {
  margin-bottom: 45px;

  @include subtitle;

  color: #4e4d4d;

  @media (max-width: 575px) {
    font-size: 22px;
  }
}

.calc__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1200px) {
    justify-content: center;
  }
}

.calc__item {
  width: 48.8%;
  min-height: 184px;
  padding-top: 25px;
  padding-right: 44px;
  padding-bottom: 25px;
  padding-left: 44px;
  margin-bottom: 30px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  @media (max-width: 1200px) {
    @include max-width(688px);
  }

  @media (max-width: 575px) {
    padding-right: 12px;
    padding-left: 12px;
  }
}

.calc__item-title {
  margin-bottom: 30px;

  @include subtitle;

  color: #4e4d4d;

  @media (max-width: 575px) {
    font-size: 23px;
  }
}

.calc__radio-list {
  display: flex;
  justify-content: space-between;
}

.calc__radio-box {
  width: 76px;
  height: 48px;

  @media (max-width: 575px) {
    margin-right: 5px;
  }
}

.calc__radio-input:checked + .calc__radio-label {
  border: none;
  background: linear-gradient(180deg, #95c23f 0%, #00893a 100%);
  color: white;
}

.calc__radio-label {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: 2px #00893a solid;
  margin-bottom: 0;
  border-radius: 8px;
  color: #4e4d4d;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.calc__range-input {
  width: 100%;
  height: 6px;
  margin-bottom: 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
    to right,
    #4aa016 0%,
    #4aa016 50%,
    #e5e5e5 50%,
    #e5e5e5 100%
  );
  background-color: #e5e5e5;
  border-radius: 4px;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: 31px;
    height: 31px;
    -webkit-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-moz-range-thumb {
    width: 31px;
    height: 31px;
    -moz-appearance: none;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }

  &::-ms-thumb {
    width: 31px;
    height: 31px;
    appearance: none;
    @include bg;
    background-image: url('/src/img/icons/thumb.png');
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline: none;
      border: none;
      box-shadow: none;
    }
  }
}

.calc__endpoints {
  display: flex;
  justify-content: space-between;
}

.calc__endpoint {
  @include main;

  color: #4e4d4d;

  @media (max-width: 575px) {
    font-size: 12px;
  }

  &_active {
    @include main-bold;
    color: #3e7333;
  }
}

.calc__waste {
  color: #3e7333;
  font-size: 44px;
  font-weight: 500;
  line-height: 40px;
}

.calc__result-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background: #4aa016;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calc__result {
  margin-bottom: 0;
  color: white;
  font-size: 36px;
  font-weight: 500;
  line-height: 56px;

  @media (max-width: 991px) {
    text-align: center;
  }

  br {
    display: none;

    @media (max-width: 991px) {
      display: block;
    }
  }

  b {
    font-size: 48px;
    font-weight: 900;

    @media (max-width: 575px) {
      font-size: 42px;
    }
  }

  @media (max-width: 575px) {
    font-size: 23px;
    line-height: 47px;
  }
}
