.choice {
  position: relative;
  z-index: -1;
  top: -265px;
  min-height: 688px;
  padding-top: 333px;
  margin-bottom: -265px;
  background-image: url('/src/img/bgs/choice-bg.png');
  background-position: center top;
  background-repeat: no-repeat;

  @media (max-width: 575px) {
    padding-top: 300px;
    background-image: none;
  }
}

.choice__title {
  @include title;

  margin-bottom: 50px;
  color: white;

  span {
    color: #95c23f;
  }

  @media (max-width: 575px) {
    font-size: 38px;
    text-align: center;
    color: #95c23f;
  }
}

.choice__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1450px) {
    justify-content: space-around;
  }
}

.choice__item {
  min-height: 376px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;
  background: #fff;
  background-image: url('/src/img/icons/gains/bg-1.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15));

  @include max-width(448px);

  &:nth-child(2) {
    background-image: url('/src/img/icons/gains/bg-2.png');
  }

  &:nth-child(3) {
    background-image: url('/src/img/icons/gains/bg-3.png');
  }

  @media (max-width: 1450px) {
    margin-right: 5px;
    margin-bottom: 25px;
    margin-left: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 575px) {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.choice__item-logo {
  display: block;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
}

.choice__item-title {
  margin-bottom: 15px;
  text-align: center;

  @include subtitle;
}

.choice__item-text {
  @include main;

  text-align: center;

  @media (max-width: 575px) {
    font-size: 20px;
  }
}
