.desc {
  position: relative;
  z-index: 1;
  min-height: 1018px;
  background-image: url('/src/img/bgs/desc-bg.png');

  @include bg;

  @media (min-width: 1920px) {
    background-size: auto;
  }

  @media (max-width: 1200px) {
    min-height: auto;
    padding-bottom: 30px;
    background-image: url('/src/img/bgs/desc-bg-2.png');
  }

  @media (max-width: 800px) {
    padding-bottom: 0;
  }
}

.desc__title {
  @include title-main;

  margin-top: 53px;
  margin-right: auto;
  margin-bottom: 15px;
  margin-left: auto;
  color: #105e3b;
  text-align: center;

  @include max-width(1086px);

  @media (max-width: 767px) {
    margin-top: 25px;
    font-size: 40px;
    line-height: 50px;
  }

  @media (max-width: 575px) {
    font-size: 31px;
    line-height: 43px;
  }
}

.desc__text {
  margin-bottom: 37px;

  @include subtitle;

  color: #4e4d4d;
  text-align: center;

  span {
    font-weight: 900;
  }

  @media (max-width: 767px) {
    br {
      display: none;
    }
  }

  @media (max-width: 575px) {
    font-size: 19px;
    line-height: 33px;
  }
}

.desc__list {
  @include reset-list;

  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;

  @include max-width(1000px);

  @media (max-width: 800px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.desc__item {
  @media (max-width: 800px) {
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
  }
}

.desc__list-title {
  margin-bottom: 13px;
  color: #4e4d4d;
  font-size: 26px;
  font-weight: 500;
  line-height: 32px;
  text-align: center;
}

.desc__list-top {
  margin-bottom: 0;
  color: #4aa016;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;

  span {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
  }
}

.desc__list-bottom {
  margin-bottom: 0;
  color: #105e3b;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;

  span {
    font-size: 48px;
    font-weight: 900;
    line-height: 56px;
  }

  @media (max-width: 575px) {
    font-size: 27px;
  }
}
