.feedback {
  position: relative;
  top: -230px;
  min-height: 1322px;
  padding-top: 400px;
  padding-bottom: 136px;
  margin-bottom: -230px;
  background-image: url('/src/img/bgs/feedback-bg.png');

  @include bg;

  @media (min-width: 1920px) {
    background-size: auto;
  }

  @media (max-width: 1200px) {
    top: -320px;
    min-height: 1272px;
    padding-bottom: 90px;
    margin-bottom: -320px;
  }

  @media (max-width: 575px) {
    top: -350px;
    min-height: auto;
    padding-bottom: 40px;
    margin-bottom: -350px;
  }
}
