.footer {
  min-height: 128px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #105e3b;
  color: white;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
    justify-content: center;
  }
}

.footer__company-name {
  @include main-bold;
  text-align: left;

  margin-bottom: 5px;

  @media (max-width: 900px) {
    text-align: center;
  }

  @media (max-width: 575px) {
    font-size: 20px;
  }
}

.footer__address {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;

  @media (max-width: 900px) {
    margin-bottom: 20px;
  }

  @media (max-width: 575px) {
    font-size: 16px;
    text-align: center;
  }
}

.footer__policy {
  @include reset-btn;

  color: white;
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  text-decoration: underline;

  @media (max-width: 900px) {
    margin-bottom: 20px;
  }
}

.footer__contacts-box {
  display: flex;
  flex-direction: column;
}

.footer__phone {
  color: white;

  @include main-bold;

  &:focus,
  &:hover,
  &:active {
    color: white;
    text-decoration: underline;
  }
}
