.steps {
  min-height: 871px;
  padding-top: 66px;
  padding-bottom: 106px;
  background-image: url('/src/img/bgs/steps-bg.png');

  @include bg;

  @media (min-width: 1920px) {
    background-size: auto;
  }

  @media (max-width: 575px) {
    padding-bottom: 60px;
  }
}

.steps__title {
  @include title;

  margin-bottom: 50px;
  color: white;

  span {
    color: #95c23f;
  }

  @media (max-width: 767px) {
    font-size: 38px;
    line-height: 52px;
  }

  @media (max-width: 575px) {
    font-size: 29px;
    line-height: 44px;
  }
}

.steps__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (max-width: 1450px) {
    justify-content: space-around;
  }
}

.steps__item {
  display: flex;
  width: 448px;
  min-height: 408px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 43px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  border: 4px solid #95c23f;
  border-radius: 30px;
  color: white;

  &:first-child .steps__item-title::before {
    left: 22px;
  }

  @media (max-width: 1450px) {
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
  }

  @media (max-width: 575px) {
    padding-top: 25px;
  }
}

.steps__item-title {
  @include title;

  position: relative;
  margin-bottom: 37px;
  text-align: center;

  &::before {
    position: absolute;
    top: -59px;
    left: 59px;
    content: url('/src/img/leafs.png');

    @media (max-width: 575px) {
      content: none;
    }
  }
}

.steps__text {
  margin-bottom: 16px;

  @include main-bold;

  text-align: center;

  &:last-child {
    margin-bottom: 30px;
  }

  @media (max-width: 575px) {
    line-height: 28px;
  }
}

.steps__bottom {
  color: white;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}
