.support {
  padding-top: 43px;
  padding-bottom: 80px;

  @media (max-width: 575px) {
    padding-top: 0;
    padding-bottom: 30px;
  }
}

.support__title {
  @include title;

  margin-bottom: 53px;
  color: #105e3b;

  span {
    color: #95c23f;
  }

  @media (max-width: 991px) {
    br {
      display: none;
    }
  }

  @media (max-width: 767px) {
    font-size: 39px;
    line-height: 49px;
    text-align: center;
  }

  @media (max-width: 575px) {
    margin-bottom: 35px;
    font-size: 28px;
    line-height: 43px;
  }
}

.support__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: 1450px) {
    justify-content: space-around;
  }
}

.support__item {
  min-height: 376px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 55px;
  padding-left: 30px;
  margin-bottom: 32px;
  background: #fff;
  background-image: url('/src/img/icons/support/bg-1.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  border-radius: 30px;
  filter: drop-shadow(0 0 7px rgba(0, 0, 0, 0.15));

  @include max-width(448px);

  &:nth-child(2) {
    background-image: url('/src/img/icons/support/bg-2.png');
  }

  &:nth-child(3) {
    background-image: url('/src/img/icons/support/bg-3.png');
  }

  &:nth-child(4) {
    background-image: url('/src/img/icons/support/bg-4.png');
  }

  &:nth-child(5) {
    background-image: url('/src/img/icons/support/bg-5.png');
  }

  &:nth-child(6) {
    background-image: url('/src/img/icons/support/bg-6.png');
  }

  @media (max-width: 1450px) {
    margin-right: 5px;
    margin-left: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 575px) {
    padding-right: 13px;
    padding-left: 13px;
  }
}

.support__item-img {
  display: block;
  margin-right: auto;
  margin-bottom: 18px;
  margin-left: auto;
}

.support__item-title {
  margin-bottom: 15px;
  text-align: center;

  @include subtitle;
}

.support__item-text {
  @include main;

  text-align: center;

  @media (max-width: 575px) {
    font-size: 20px;
  }
}
